
  
.RealEstateList_rightPage {
  height: 800px;
    width: 50%; 
    /* max-width: 600px; */
    min-width: 770px; 
    margin: 6px;
    /* display: inline-flex; */
    outline: black solid 5px;
    flex: 1; 
    justify-content: center;
}
    
