.AppContainer{
    display: inline-flex;
    justify-content: center;
    width: 1930px;
    /* max-width: 1930px; */
    text-align: center;
    /* background-color: cornsilk; */
    position: relative;
    z-index: -2;
}


.HomePage1_leftpage{
    height: 100vh;
    /* width: 50%;  */
    width: 1965px;
    min-width: 770px; 
    max-width: 1965px; 
    margin: 6px;
    outline: black solid 5px;
    flex: 1; 
    justify-content: center;
    position: relative;
}

.HomePage1_leftpage h3{
  position: relative;
  bottom: 43px;
  color: #00E;
  font-weight: 900;
  font-size: 25px;
}

.HomePage1-lowerBox{
    width: 100%;
    height: 127px;
    border: 3px solid #000; 
    position: relative;
    bottom: 45px; 
}

.HomePage1-lowerBox div {
  font-size: 15px;
  text-align: left;
  margin-bottom:6.5px;
  font-weight: 200;
}

.HomePage1-lowerBox p {
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 200;
}


.RealEstateList_rightPage {
    height: 100vh;
      /* width: 50%;  */
      min-width: 770px; 
      max-width: 1965px; 
      margin: 6px;
      /* display: inline-flex; */
      outline: black solid 5px;
      flex: 1; 
      justify-content: center;
  }
      
  .RealEstateList_rightPage h1{
    color: #00E;
  }



.HomePage1_title{
    color: #00E;
}

.HomePage1_words{
    margin-bottom: 28px; 
}





.image-container {
    width: 100%;
    height: 420px;
    position: relative;
    bottom: 30px;
    z-index: -1;
    padding-top: 40px;
  }


  .image-container img {
    width: 100%;
    height: 100%;
    object-position: center;
    padding-bottom: 30px;
  }

  .HomePage1_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 30px; 
    margin: 5px;

  }
  
  .HomePage1_form label {
    margin-bottom: 1.5px;
    font-weight: 700; 
  }
  
  .HomePage1_form input {
    /* margin-bottom: 10px; */
    outline: 1.5px solid #000;
    width: 250px;
    text-align: center;
    margin-bottom: 5.5px;
    border-radius: 4px;
  }
  
  .HomePage1_form button {
    width: 250px;
    height: 23px;
    margin: 8px; 
    font-weight: 700; 
    border-radius: 4px;
    outline: 2px solid #000;
  }